.container{
    justify-content: center;
    place-items: center;
    width:100%;
    position:fixed;
    min-height:5rem;
    color:white;

    z-index:3;
    img{
        max-width:350px;
    }
    .navigation{
        display:flex;
        gap:6rem;
        
        background-color:rgb(190, 172, 219);
        height:5rem;
        min-width:30vw;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        a{
            transition:transform 0.3s ease-in-out;
            color:white;
            font-size:1.5rem;
            font-weight:600;
        }
        a:hover{
            transform: scale(1.5);
            text-shadow:0 0 5px white,  
            0 0 10px white,  
            0 0 15px #A78BFA;
        }
    }
}
