@font-face {
  font-family: 'Kidsland'; 
  src: url('../../assets/fonts/Staywork-Regular.woff2') format('woff2'); /* TTF format */
}
@font-face {
  font-family: 'Blocky'; 
  src: url('../../assets/fonts/Queensides-3z7Ey.ttf') format('truetype'); /* TTF format */
}

@media screen and (min-width:400px) {
   .content{
    flex-direction: column;
    align-items: center;
   }
   .firstBlockText{
    width:95%;
   }
   .imageContainer{
    position: absolute;
    z-index:100;
    top:-50px;
   }
   .hours{
    h2{
      font-size:3rem;
    }
    li{
      font-size:1.7rem;
      margin-left:0;
    }
   }
   .infoButtonContainer{
    height:100%;
    justify-self: flex-end;
    align-items:flex-end;
    button{
      font-size:1.5rem;
      max-height:50px;
    }
   }
   h1{
    justify-content: center;
   }
   .addressText,.listHours{

    
    min-height:236px;
  }
  .isWord,.nowWord{
    font-size:4rem;
  }
  .openWord{
    font-size:7rem;
    top:45%;
    left:18%;
  }
  .isWord{
    left:10%;
    top:10%;
  
}
    .nowWord{
        left:40%;
        top:10%;   
    }

}

@media screen and (min-width:800px) {
  .content{
    flex-direction: row;
  }
  .imageContainer{
    position: static;
  }
  .firstBlockAnimationContainer{
    h1{
      margin-top:8rem;
    }
  }
  .firstBlockText{
    width:50%;
   }
   .hours{
    h2{
      font-size:6rem;
    }
    li{
      font-size:2rem;
      margin-left:2rem;
    }
   }
   h1{
    font-size:4rem;
   }
   .openWord{
    font-size:7rem;
    top:100%;
    left:29%;
  }
  .isWord{
    left:25%;
    top:60%;
  
}
    .nowWord{
        left:45%;
        top:60%;   
    }
}
.hours{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  font-family: "Kidsland",sans-serif;
  text-shadow: 0 0 5px white, 
   
  0 0 6px rgb(190, 172, 219);
  .listContainer{
    display:flex;
    width:100%;
    height:100%;
    .divider{
      width:10px;
      height:80%;
      align-self: center;
      border-radius: 15px;
      background-color: white;
      filter:drop-shadow(0 0px 10px #A78BFA);
    }
    .listHours{
      
      display:flex;
      flex-direction: column;
      width:50%;
      text-align: left;

    
    }
    .listAddress{
      display:flex;
   
      width:50%;
      flex-direction:column;
      text-align: center;
      .addressText{
        display:flex;
        flex-direction: column;
        

      }
      h3{
        font-size: 3rem;
        margin:0;
        max-height:50px;
      }
      p{
        font-size:2rem;
      }
    }
  }
  h2{
 
     
  }
  ul{
      width:100%;
      padding:none;


  }
  li{
      list-style:disc;

  }
}
.firstBlock{
    background-image:url('../../assets/MilkyBG.webp');
    width:100%;
    overflow:hidden;
    height:100vh;
    .imageContainer{
      width:50%;
      align-items: center;
    }
    .milkyway{
      display:block;
      animation: milkyAnimation 2s ease-in-out forwards;
      max-width:100%;
      height:auto;
      transform:scale(0);
      //filter:drop-shadow(0 0px 25px white);
      @keyframes milkyAnimation {
        0% {
          transform: scale(0);
        }
        60% {
          transform: scale(1.1);
        }
        100%{
          transform: scale(.9);
        }
      }
      
    }
    .infoContainer{
      display:flex;
      padding-bottom:2rem;
      flex-direction: column;
      border:5px solid rgb(190, 172, 219);
      background-color: rgba(0, 0, 0, 0.3);
      border-radius:15px;
      width:85%;
      visibility: hidden;
     
      align-self: center;
      align-items: center;
      animation: slideLeft 1s ease-in-out forwards 9s;
      .welcomeText{
        font-size:3rem;
        text-align: center;
        justify-content: center;
        text-shadow: 0 0 5px white,  
        0 0 6px rgb(190, 172, 219);
        max-height:100px;
        
      }
    }
    .infoText{
      display:flex;
 
      z-index: 2;
      width:100%;
    
    
      text-shadow:none;
      max-height:500px;

      font-family: 'Kidsland', sans-serif;
      

     
     
      .welcomeInfo{
        font-size:3rem;
        width:95%;
        margin-left:5%;
        height:30%;
        line-height:1.2;
      }
    }
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}
.content{
    margin-top:10rem;
    position: relative;
    z-index: 1;
    width:100%;

    h1{

        text-shadow: 0 0 5px white,  
        0 0 10px white,  
        0 0 15px #A78BFA;
    }
    .firstBlockText{
        display:flex;
        flex-direction:column;

        margin-top:6rem;
        position:relative;
   

        .infoButtonContainer{
          width:100%;
          justify-content: center;
          display:flex;
          gap: 5vw;
        
          button{
       
            border-radius: 15px;
            border:none;
            background-color:rgb(190, 172, 219);
            padding:10px;
            font-family: "Blocky", sans-serif;
            text-shadow: 0 0 5px white,  
            0 0 10px white,  
            0 0 15px #A78BFA;
            transition:transform 0.3s ease-in-out;
            &:hover{
              transform: scale(1.3);
            }
          }
        }
        .firstBlockAnimationContainer{
            min-height:500px;
            width:100%;
            display: block;
            animation: slideRight .6s ease-in-out forwards 8s;

           
            .isWord,.nowWord{
                font-size:7rem;
                position:absolute;
                text-shadow: 0 0 5px white,  
                0 0 10px white,  
                0 0 15px #A78BFA;
            }

            .isWord{
                animation: growAnimation .6s ease-in-out forwards;
                transform:scale(0);
               
            }
                .nowWord{
                    animation: growAnimation .4s ease-in-out forwards 1.2s;
                
                    transform:scale(0);
                  
                }
            .openWord{
                text-shadow: 0 0 5px white,  
                0 0 10px white,  
                0 0 15px #A78BFA;
                position:absolute;
        
                font-weight:bold;
                animation: growAnimation .6s ease-in-out forwards 2.0s,rotateAnimation 10s ease-in-out infinite 3s;
            
                transform:scale(0);
              
               
            }
        }
    }
}
:global{
  @keyframes growAnimation {
    0% {
      visibility: visible;
      transform: scale(0);
    }
    100% {
      visibility: visible;

      transform: scale(1);
    }
  }
  
  @keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(10deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(-10deg);
      }
      100% {
        transform: rotate(0deg);
  }
}
@keyframes slideRight{
  0%{
    
  }
  
  90%{
    transform: translateX(50vw);
    
  }
  95%{
  
  }
  100%{
    opacity: 0%;
    visibility: hidden; 
  }
}
@keyframes slideLeft{
  0%{
    transform:translateX(1000px);
    visibility: visible;
  }
  
  100%{
    transform: translateX(0);
    visibility: visible;
  }
 
}
}