@font-face {
    font-family: 'Description';
    src: url('../assets/Queensides-3z7Ey.ttf') format('truetype'),
     url('../assets/QueensidesLight-ZVj3l.ttf'),
     url('../assets/QueensidesMedium-x30zV.ttf');

}
@font-face {
    font-family: 'Slogan';
    src: url('../assets/KidslandAvenue-mLM09.ttf') format('truetype');
}
#aboutContainer{
    display:flex;
    justify-content: center;
    height:70%;
    width:50%;
    border-radius:16px;
    box-sizing: border-box;
    padding:40px;
}
#aboutTextContainer{
    display:flex;
    flex-direction: column;
    width:50%;
}
#pictureContainer{
    width:50%;
    align-content: center;
}
#aboutImg{
    height:auto;
    width:100%;
    border-radius: 50%;
}
#headText{
    font-family: "Slogan";
    font-size:5rem;
    color:#6f515f;
}
#subText{
    font-family: "Description";
    font-size:1.5rem;
}
#contactButton{
    font-family: "Slogan";
    margin-top:20px;
    border-radius:16px;
    font-size: 2.4rem;
    align-self: left;
    width:40%;
    background-color: #BEACDB;
    color:#6f515f;
}
