@font-face {
    font-family: 'Cartoon';
    src: url('../assets/StayworkRegular-axrEo.otf') format('truetype'),
     url('../assets/StayworkRegular-Wy4P4.otf');
  }

@font-face {
    font-family: 'Description';
    src: url('../assets/Queensides-3z7Ey.ttf') format('truetype'),
     url('../assets/QueensidesLight-ZVj3l.ttf'),
     url('../assets/QueensidesMedium-x30zV.ttf');

}
html,body{
    
    height:100%;
    padding:0;
    margin: 0;
}
body{
    overflow-x:hidden;
}
#content{
    display:flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: #EAD8ED ;
    height: fit-content; /* Add this line */;
    overflow-x: auto;
}
#menuContainer{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows:250px auto;
    width:60%;
    margin: 20px auto; /* Center the container */ 
    background-color: #EAD8ED;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 10px solid #5c62a5;
    background-color: #F5EBE0;
    
}   
#foodText{
    display:flex;
    box-sizing: border-box; 
    text-align: left;
    flex-direction: column;
    font-family: 'Cartoon';
    font-size: 4.2rem;
    color:#6F515F;
    justify-content: center;
    border-bottom: 3px dotted #5c62a5;
    margin-left:1px; /*To prevent double borders from overlapping too harshly*/
    padding-bottom:30px;
}
#foodTextLast{
    display:flex;
    box-sizing: border-box; 
    text-align: left;
    flex-direction: column;
    margin-top:1.2rem;
    font-family: 'Cartoon';
    font-size: 4.2rem;
    color:#6F515F;
    justify-content: center;
    margin-left:1px; /*To prevent double borders from overlapping too harshly*/
    padding-bottom:20px;
}
#foodPic{
    height:auto;
    max-height: 250px;
    margin-top: 1.2rem;
    /* filter: drop-shadow(0 0 0.10rem blue); */

}
#cookieContainerL{
    display:flex;
    justify-content: center;
    position:relative;
    border-bottom: 3px dotted #5c62a5;
    margin-right:1px;
    padding-bottom:20px;
    /*min-height:342px;*/
}
#cookieContainerR{
    display:flex;
    justify-content: center;
    position:relative;
    border-bottom: 3px dotted #5c62a5;
    margin-left:1px;
    /*min-height:342px;*/}

#foodTextL,#foodTextLast
{
    text-align:left;
    box-sizing: border-box; 
    margin-top:55px;
    font-family: 'Cartoon';
    font-size: 4.2rem;
    color:#6F515F;
    padding-left:20px;
    border-bottom: 3px dotted #5c62a5;
    box-sizing: border-box; 
    margin-right:1px; /*To prevent double borders from overlapping too harshly*/
    padding-bottom:20px;
}
#foodTextLast{
    border:none;
}
#description{
    font-size: 2rem;
    font-family: 'Description';
    color:black;
}
#foodTwo{
    height:auto;
    max-height: 300px;
    margin-top: 1.2rem;
}
#stamp{
    max-height:120px;
    position:absolute;
    top:0;
    left:50px;
}
#foodPicStardust{
    height:auto;
    max-height: 200px;
    margin-top: 5rem;
    /* filter: drop-shadow(0 0 0.10rem blue); */

}
#stampStardust{
    max-height:120px;
    position:absolute;
    top:0;
    left:50px;
}
#descriptionLast{
    font-size: 1.5rem;
    font-family: 'Description';
    color:black;
    border-bottom: 0;
}
#cookieContainerLast{
    display:flex;
    justify-content: center;
    position:relative;
    margin-left:1px;
}
@media only screen and (max-width: 950px),screen and (max-height: 420px)  {
    #content{
        height:fit-content;
    }
    #foodPicStardust{
        max-height: 80px;
    }
    #cookieContainerR{
        height:100%;
    }
    #stampStardust{
        max-height:50px;
    }
    #menuContainer{
        width:100%;
    }
    #stamp{
        max-height:60px;

    }
    #foodTextL,#foodTextLast,#foodText
    {
        font-size:1.6rem;
    }
    #description{
        font-size:1rem;
    }
    #foodPic{
    max-height:150px;
    align-self: center;
    }
}
@media only screen and (max-width: 700px),screen and (max-height: 400px)  {
    #content{
        height:fit-content;
    }
    #foodPicStardust{
        max-height: 80px;
    }
    #cookieContainerR{
        height:100%;
    }
    #stampStardust{
        max-height:50px;
    }
    #menuContainer{
        width:100%;
    }
    #stamp{
        max-height:60px;

    }
    #foodTextL,#foodTextLast,#foodText
    {
        font-size:1.6rem;
    }
    #description{
        font-size:1rem;
    }
    #foodPic{
    max-height:150px;
    align-self: center;
    }
}
@media only screen and (max-width: 450px) {
    #foodPicStardust{
        max-height: 80px;
    }
    #cookieContainerR{
        height:100%;
    }
    #stampStardust{
        max-height:50px;
    }
    #menuContainer{
        width:100%;
    }
    #stamp{
        max-height:60px;

    }
    #foodTextL,#foodTextLast,#foodText
    {
        font-size:1.6rem;
    }
    #description{
        font-size:1rem;
    }
    #foodPic{
    max-height:150px;
    align-self: center;
    }
}